[submodule "1kfg-phylogenomics-tools"]
	path = 1kfg-phylogenomics-tools
	url = git@github.com:1KFG/Phylogenomics.git
[submodule "Phylogenomics_HMMs"]
	path = Phylogenomics_HMMs
	url = git@github.com:1KFG/Phylogenomics_HMMs.git
